nav {
    display: flex;
    flex-direction: column;
    align-items: center;



    .localisation {
        display: flex;
        justify-content: center;
        width: 100%;
        background: $gray-medium;
        padding-bottom: 15px;
        padding-top: 15px;

        i {
            padding-right: 10px;
        }
    }

    .reservation {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $gray-light;
        padding-bottom: 40px;
        width: 100%;

        a {

            color: $white;
        }

    }

    .reservation-title {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        margin-left: 32px;
        margin-bottom: 20px;


    }

    .fct {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;

        button {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-left: 20px;
            padding-right: 55px;
        }

    }

    .fa-store {
        color: $color-primary;
    }

    .one {
        position: relative;
        top: 45px;
        left: 8px;
        background-color: $color-primary;
        width: 25px;
        height: 25px;
        border-radius: 100%;

        p {
            display: flex;
            justify-content: center;
            padding-top: 4px;
            color: $white;
            font-size: 15px;
        }
    }

    .two {
        position: relative;
        top: 50px;
        left: 8px;
        background-color: $color-primary;
        width: 25px;
        height: 25px;
        border-radius: 100%;

        p {
            display: flex;
            justify-content: center;
            padding-top: 4px;
            color: $white;
            font-size: 15px;
        }

    }

    .three {
        position: relative;
        top: 50px;
        left: 8px;
        background-color: $color-primary;
        width: 25px;
        height: 25px;
        border-radius: 100%;

        p {
            display: flex;
            justify-content: center;
            padding-top: 4px;
            color: $white;
            font-size: 15px;
        }

    }

}


// Responsive

@media screen and (min-width: 768px) {
    nav {
        .fct {
            width: 68%;

            

        }

    }



}

@media screen and (min-width: 1024px) {

    nav {
        .fct{
            width: 100%;

            h2 {
                margin-left: 62px;
            }
           
        }
        .btn-fct-resp{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .one{
        top: 20px;
        left: 25px;
        }

        .two {
            top: 20px;
            left: 25px;
        }
        .three{
            top: 20px;
            left: 25px;
        }

       
       
    
    }
}
    


    
