@charset "UTF-8";
.btn {
  transition-property: opacity, box-shadow;
  transition-duration: 900ms;
}
.btn:hover {
  opacity: 80%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader__item {
  height: 40px;
  width: 10px;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 1;
}
.loader__itemContainer {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.loader__item--1 {
  font-family: shrikhand;
  background-color: #9356DC;
}
.loader__item--2 {
  font-family: shrikhand;
  background-color: #FF79DA;
  animation-delay: 0.25s;
}
.loader__item--3 {
  font-family: shrikhand;
  background-color: #99E2D0;
  animation-delay: 0.5s;
}

@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
.like {
  color: transparent;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.like:hover {
  opacity: 1;
}

.entrée {
  opacity: 1;
  animation: entrée 2s;
}

@keyframes entrée {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.plat {
  opacity: 1;
  animation: plat 3s;
}

@keyframes plat {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.dessert {
  opacity: 1;
  animation: dessert 3s;
}

@keyframes dessert {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.commander {
  opacity: 1;
  animation: commander 3s;
}

@keyframes commander {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn-menu {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.btn-menu:hover {
  width: 80%;
}

.btn-check {
  transform: translateX(10%);
  transition: transform 0.2s;
  opacity: 0;
}
.btn-check:hover {
  transform: translateX(0%);
  opacity: 1;
}

body {
  font-family: "roboto";
  max-width: 1440px;
  margin: auto;
  width: 100%;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 500;
  padding-left: 20px;
}

h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

p {
  margin: 0;
  font-weight: 300;
  font-size: 17px;
}

a {
  text-decoration: none;
}

/* Button Gradient */
.btn {
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5098039216);
  border-radius: 30px;
  color: #FFF;
  width: 52%;
  height: 45px;
}

.btn-fct {
  border: none;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 90%;
  height: 65px;
  margin-bottom: 20px;
}

.btn-menu {
  border: none;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  width: 92%;
  height: 75px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 20px;
}

.btn-check {
  position: absolute;
  display: flex;
  right: 10px;
  width: 80px;
  height: 76px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #99E2D0;
}
.btn-check .fa-check-circle {
  margin: auto;
  color: #FFF;
}

@media screen and (min-width: 768px) {
  .btn {
    width: 30%;
  }
}
@media screen and (min-width: 1024px) {
  .btn {
    width: 20%;
  }
  .btn-fct {
    width: 25%;
  }
  .btn-menu {
    width: 75%;
  }
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #FFF;
  padding-top: 20px;
  width: 100%;
}
footer h3 {
  font-family: shrikhand;
  font-size: 16px;
  padding-left: 22px;
  padding-bottom: 10px;
}
footer p {
  font-size: 15px;
  font-weight: 400;
  padding-left: 22px;
  padding-bottom: 10px;
}
footer p i {
  padding-right: 10px;
}
footer p a {
  color: #FFF;
}

@media screen and (min-width: 1024px) {
  footer {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  footer h3 {
    position: absolute;
    right: 8%;
  }
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background: #FFF;
}
header img {
  width: 150px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .localisation {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #EAEAEA;
  padding-bottom: 15px;
  padding-top: 15px;
}
nav .localisation i {
  padding-right: 10px;
}
nav .reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding-bottom: 40px;
  width: 100%;
}
nav .reservation a {
  color: #FFF;
}
nav .reservation-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: 32px;
  margin-bottom: 20px;
}
nav .fct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
nav .fct button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 20px;
  padding-right: 55px;
}
nav .fa-store {
  color: #9356DC;
}
nav .one {
  position: relative;
  top: 45px;
  left: 8px;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
nav .one p {
  display: flex;
  justify-content: center;
  padding-top: 4px;
  color: #FFF;
  font-size: 15px;
}
nav .two {
  position: relative;
  top: 50px;
  left: 8px;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
nav .two p {
  display: flex;
  justify-content: center;
  padding-top: 4px;
  color: #FFF;
  font-size: 15px;
}
nav .three {
  position: relative;
  top: 50px;
  left: 8px;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
nav .three p {
  display: flex;
  justify-content: center;
  padding-top: 4px;
  color: #FFF;
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  nav .fct {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  nav .fct {
    width: 100%;
  }
  nav .fct h2 {
    margin-left: 62px;
  }
  nav .btn-fct-resp {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  nav .one {
    top: 20px;
    left: 25px;
  }
  nav .two {
    top: 20px;
    left: 25px;
  }
  nav .three {
    top: 20px;
    left: 25px;
  }
}
main {
  display: flex;
  background-color: #F6F6F6;
}
main .new {
  position: absolute;
  right: 10%;
  margin-top: 15px;
  background-color: #99E2D0;
  width: 75px;
  height: 28px;
  z-index: 1000;
}
main .new p {
  display: flex;
  justify-content: center;
  color: #008766;
  font-weight: 400;
  font-size: 14px;
  padding-top: 5px;
  padding-right: 10px;
}
main .card {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 230px;
  background-color: #FFF;
  border-radius: 20px;
  margin-bottom: 20px;
}
main .card a {
  color: #353535;
  cursor: pointer;
}
main .card i {
  cursor: pointer;
}
main .card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
main .card h3 {
  padding-top: 10px;
  padding-left: 10px;
}
main .card p {
  padding-top: 5px;
  padding-left: 10px;
}
main .card .heart {
  position: absolute;
  right: 10%;
  padding-top: 175px;
}
main .card .like {
  position: absolute;
  right: 0em;
  padding-top: 1px;
  color: transparent;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
main .card .like:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  main .restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .card {
    width: 60%;
  }
  main .card .heart {
    right: 25%;
  }
  main .card .new {
    right: 21%;
  }
}
@media screen and (min-width: 1024px) {
  main h2 {
    margin-left: 62px;
  }
  main .restaurant {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  main .card {
    width: 42%;
  }
  main .card .heart {
    right: 9%;
  }
  main .card .new {
    right: 8%;
  }
  main .new-resp {
    left: 41%;
  }
  main .heart-resp {
    position: absolute;
    left: 45%;
  }
  main .like-resp {
    position: absolute;
    left: 0rem;
    padding-top: 1px;
    color: transparent;
    background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 1;
  }
  main .like-resp:hover {
    opacity: 1;
  }
}
header i {
  position: absolute;
  left: 30px;
}

main {
  display: flex;
  flex-direction: column;
}
main img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
main i {
  cursor: pointer;
}
main .position {
  position: absolute;
  top: 278px;
  width: 100%;
  background-color: #F6F6F6;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
main .position h2 {
  font-family: shrikhand;
  font-size: 25px;
  padding: 0;
  margin-left: 15px;
  margin-right: 35px;
}
main .position h2 i {
  position: absolute;
  right: 40px;
}
main .menu {
  width: 100%;
  background-color: #F6F6F6;
  padding-bottom: 32px;
}
main .menu h3 {
  font-weight: 300;
  margin-left: 15px;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  height: 25px;
  margin-top: 15px;
}
main .btn-menu {
  cursor: pointer;
}
main .btn-menu h4 {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom: 5px;
}
main .btn-menu p {
  font-size: 15px;
}
main .price {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 20px;
}
main .commander {
  display: flex;
  justify-content: center;
}
main .commander a {
  color: #FFF;
}

@media screen and (min-width: 1024px) {
  main {
    background-color: #FFF;
  }
  main .position {
    width: 71%;
    left: 15%;
    top: 300px;
  }
  main .position h2 {
    display: flex;
    justify-content: center;
  }
  main .position h2 i {
    right: 25%;
  }
  main .menu {
    position: relative;
    left: 15%;
    width: 71%;
  }
  main .entrée {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .entrée h3 {
    position: relative;
    right: 35%;
  }
  main .plat {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .plat h3 {
    position: relative;
    right: 35%;
  }
  main .dessert {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .dessert h3 {
    position: relative;
    right: 35%;
  }
}

/*# sourceMappingURL=style.css.map */
