header {

    i {
        position: absolute;
        left: 30px;

    }

}

main {

    display: flex;
    flex-direction: column;
    
   img {
    width: 100%;
    height: 300px;
    object-fit: cover;

   }

    .position {
        position: absolute;
        top: 278px;
        width: 100%;
        background-color:#F6F6F6;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;

        h2 {
            display: flex;
            justify-content: space-between;
            font-family: shrikhand;
            font-size: 25px;
            padding: 0;
            margin-left: 15px;
            margin-right: 35px;

        }
    }
    .menu {
        width: 100%;
        background-color: #F6F6F6;
        padding-bottom: 32px;



        h3 {
            font-weight: 300;
            margin-left: 15px;
            border-bottom:3px solid #99E2D0 ;
            width: 40px;
            height: 25px;
            margin-top: 15px;
            
        }
        
     

    }
    



    .btn-menu {


        h4 {
            font-weight: 500;
            font-size: 18px;
            margin: 0;
            padding: 0;
            margin-left: 10px;
            padding-top: 15px;
            padding-bottom: 5px;
        }

        p {
            font-size: 15px;
        }

    }

    .price {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        margin-right: 20px;

    }

    .commander {
        display: flex;
        justify-content: center;

        a {
            color: white;
        }
    }


}