.btn {
    transition-property: opacity, box-shadow;
    transition-duration: 900ms;

    &:hover {
        opacity: 80%;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.80);
    }
}

//  loader
.loader-body {
    animation: body 2.5s;
    z-index: 2;
    opacity: 1;
}


.loader {
    position: fixed;
    width: 150px;
    top: 500px;
    left: 110px;
    z-index: 1000;
}

.loader-text {
    font-family: shrikhand;
    position: absolute;
    width: 100%;
    color: $color-primary;
    animation: text 2.5s;
    opacity: 0;

}

.load {
    background-color: $color-primary-light;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 100%;
    bottom: 0;
    position: absolute;
    transform: translateX(70px);
    animation: loading 2.5s;
    animation-fill-mode: forwards;
}

.load::before {
    position: absolute;
    content: "";
    width: 30%;
    height: 100%;
    background-color: $color-primary;
    border-radius: inherit;
    animation: loading2 2.5s;

}
@keyframes body {
   0% {
    opacity: 1;
   }
   0.1%{
    opacity: 0.3;
   }
   100% {
    opacity: 0.3;
   }
    
}

@keyframes text {
    0% {
        transform: translateX(0px);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    40% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }

    80% {
        letter-spacing: 1px;
        transform: translateX(32px);
    }

    90% {
        letter-spacing: 2px;
        transform: translateX(32px);
        opacity: 1;
    }

    100% {
        letter-spacing: 1px;
        transform: translateX(0px);
        opacity: 0;


    }
}

@keyframes loading {
    0% {
        width: 16px;
        transform: translateX(0px);
        opacity: 0;

    }

    10% {
        opacity: 1;
    }

    40% {
        width: 100%;
        transform: translateX(0px);
    }

    80% {
        width: 16px;
        transform: translateX(70px);
    }

    90% {
        width: 100%;
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        width: 16px;
        transform: translateX(0px);
        opacity: 0;


    }
}

@keyframes loading2 {
    0% {
        transform: translateX(0px);
        width: 16px;
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    40% {
        transform: translateX(0);
        width: 80%;
    }

    80% {
        width: 100%;
        transform: translateX(0px);
    }

    90% {
        width: 80%;
        transform: translateX(15px);
        opacity: 1;
    }

    100% {
        transform: translateX(0px);
        width: 16px;
        opacity: 0;

    }

    
}