.btn {
  transition-property: opacity, box-shadow;
  transition-duration: 900ms;

  &:hover {
    opacity: 80%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.80);
  }
}

//  loader
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.90);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;


  &__item {
    height: 40px;
    width: 10px;
    border-radius: 1rem;
    animation: jump 1s;
    animation-iteration-count: 1;

    &Container {
      display: flex;
      width: 5rem;
      justify-content: space-between;
    }

    &--1 {


      font-family: shrikhand;
      background-color: $color-primary;
    }

    &--2 {

      font-family: shrikhand;
      background-color: $color-secondary;
      animation-delay: 0.25s;
    }

    &--3 {

      font-family: shrikhand;
      background-color: $color-tertiary;
      animation-delay: 0.5s;
    }
  }


}

@keyframes itemAppear {
  0% {
    transform: scale(0)
  }

  100% {
    transform: scale(1);
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(0.5rem);
  }

  75% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0);
  }

}



// heart


.like {
  color: transparent;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 1), rgba(255, 121, 218, 1));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: opacity 0.8s;

  &:hover {
    opacity: 1;

  }
}

// menu
.entrée {
  opacity: 1;
  animation: entrée 2s;
}

@keyframes entrée {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.plat {
  opacity: 1;
  animation: plat 3s;
}

@keyframes plat {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.dessert {
  opacity: 1;
  animation: dessert 3s;
}

@keyframes dessert {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}


.commander {
  opacity: 1;
  animation: commander 3s;
}

@keyframes commander {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.btn-menu {
 
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover  {
  
    .price {
      min-width: calc(100% - 80px);
    }
  }

}

.btn-check  {
opacity: 1;

}